*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    max-height: 100vh;
}
header{
    padding: 1.7rem 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}
.logo{
    font-size: 1.3rem;
    font-weight: 800;
}
.logo a{

    color: #244d61;
    text-decoration: none;
}
 
nav a {
    color: #244D61;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}
nav a.active,
nav a:hover {
    background-color: #244D61;
    color: #fff;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu {
    display: none;
}
section {
    margin: 2rem 8.5rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}
/*-----nave bar */
.about-us{
    padding: 80px 0px;
}
.containar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.about-us h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.about-us h3{

    font-size: 22px;
    color: #888;
    margin-bottom: 20px;
    text-align: center;
}
.about-us p{
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}
.about-us img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: -50% 100%;
}
.social-links{
    margin-bottom: 20px;
}
.social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10%;
    color: #fff;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: all 0.4s ease;
}
.social-links a:hover{
    transform:translateY(-3px);
}
.btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-style: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #333;
    transition: all 0.4s ease;
}
i{
    font-size: 15px;
    cursor: pointer;
    
   
    transform: translate(-50%, -50%);
}
@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px
        ;
        width: calc(100% - 40px);
        text-align: center;
        background-color: #fff;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }

}
